<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Techspot</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user-assets/css/main.css?v=3.4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header class="header-area header-style-5">  
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/user-assets/imgs/theme/Techspotlogo.png" alt="logo"></a>
                    </div>
                  
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>   
                                <li><a class="active" href="/">Home <!--<i class="fi-rs-angle-down"></i> --></a>
                                </li>
                                <li><a href="/shop">Shop </i></a>
                                </li>
                                <li><a href="/about">About</i></a>
                                </li>
                                <li><a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count blue">2</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <% if (locals.user_id) { %>
                                    <!-- Displayed when the user is logged in -->
                                    <li class="dropdown nav-item">
                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                        <!-- Uncomment the following line if you want to use an icon -->
                                        <!-- <i class="fas fa-/user-circle"></i> -->
                                        <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/user-profile.svg" style="height: 25px; width: 25px; margin-top: 2px;">
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/user-profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                      </div>
                                    </li>
                                  <% } else { %>
                                    <!-- Displayed when the user is not logged in -->
                                    <div class="single-mobile-header-info ml-25 pr-5">
                                      <a href="/login">Sign Up</a>
                                    </div>
                                  <% } %>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

   <div class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a href="index.html" rel="nofollow">Home</a>
            <span></span> Shop
            <span></span> Your cart
          </div>
        </div>
    </div>
   </div>

   <section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="table-responsive">
                 <table class="table shopping-summery text-center clean">  
                    <thead>
                        <tr class="main-heading">
                           <th scope="col">Image</th>
                           <th scope="col">Name</th>
                           <th scope="col">Price</th>
                           <th scope="col">Quantity</th>
                           <th scope="col">Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                   <% if (data.length > 0) { %>
                     <% var x=0 %>
                      <% for(let i=0; i < data.length; i++) {%>
                          <tr>
                            <td class="image product-thumbnail">
                                <img src="/uploads/product-images/<%= data[i].productDetails[0].productImage[0] %>" alt="#">
                            </td>
                            <td class="product-des product-name">
                                <h5 class="product-name">
                                    <a href="shop-product-right.html">
                                        <%= data[i].productDetails[0].productName %>
                                    </a>
                                </h5>
                                <p class="font-xs">
                                    <%= data[i].productDetails[0].category %><br />
                                    <%= data[i].productDetails[0].brand %>
                                </p>
                            </td>
                            <td class="price" data-title="Price">€<span>
                                <text id="subTotal<%= data[i].productDetails[0].id %>">
                                <%= data[i].productDetails[0].salePrice * data[i].quantity %>
                                </text><br>
                                <small class="text-muted text-nowrap">€
                                    <span id="price"><%= data[i].productDetails[0].salePrice %></span>
                                     /per item </small>
                            </td>

                            <% console.log(data[i].productDetails[0].salePrice * data[i].quantity, "inside table in cart"); %>
                            <% x += data[i].productDetails[0].salePrice * data[i].quantity %>

                            <td class="text-center" data-title="Stock">
                                 <div class="detail-qty border radius m-auto">
                                    <div class="quantity-control">
                                      <script></script>
                                      <button class="btn btn-sm increment-button"
                                      onclick="changeQuantity('<%= data[i].productDetails[0]._id %>', 
                                      '<%= data[i].quantity %>', 1, '<%= data[i].productDetails[0].salePrice %>',
                                      '<%= data[i].productDetails[0].id %>', '<%= data[i].productDetails[0].quantity %>')">+</button>
                                     
                                     <input class="quantity-input"
                                     id="cartProductQuantity<%= data[i].productDetails[0].id %>"
                                     value="<%= data[i].quantity %>"
                                     style="width: 45px;" type="text" readOnly value=""></style>
                                     
                                     <button class="btn btn-sm decrement-button" 
                                        onclick="changeQuantity('<%= data[i].productDetails[0]._id %>', '<%= data[i].quantity %>',
                                        -1, '<%= data[i].productDetails[0].salePrice %>', '<%= data[i].productDetails[0].id %>',
                                        '<%= data[i].productDetails[0].quantity %>')">-</button>
                                    
                                   </div>
                                 </div>
                            </td>

                              <td class="action" data-title="Remove">
                                  <a class="btn btn-sm"
                                    href="/deleteItem?id=<%= data[i].productDetails[0]._id %>">
                                    <i class="fi-rs-trash"></i>
                                  </a>
                              </td>
                          </tr>

                         <% } %> 

                    <% } else { %>
                        <tr>
                            <td colspan="2" class="text-center">
                                <p class="lead mb-4">No item found in cart</p>
                            </td>
                        </tr>
                    <% } %>

                      <% console.log("x variable in the cart",x) %>
                      <input type="hidden" name="" id="totalabc" value="<%= x %>" >
                    </tbody>
                  </div>
                </table>
                
            </div>
            <div class="col-3">
                <div class="border p-md-4 p-30 border-readius cart-totals">
                    <div class="heading_s1 mb-3">
                        <h4>Price details</h4>
                    </div>
                    <div class="table-responsive">
                        <div class="table">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">Shipping</td>
                                    <td class="cart_total_amount"><i class="ti-gift mr-5"></i>Free Shipping</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Total</td>
                                    <td class="cart_total_amount">
                                        <span class="font-lg fw-900 text-brand">€
                                            <text id="total"><%= grandTotal %></text>
                                        </span></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <a href="/checkout?userId=<%= user._id %>" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                            Proceed To CheckOut</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
</main>



<!-- <script>
    function changeQuantity(productId, cartProductQuantity, count, productPrice,i, ProductQuantity){
        const abc = document.getElementById("totalabc").value
        console.log("I am inside changeQuantity function in script, totalabc is : ", abc)
        console.log(productId, cartProductQuantity, count, productPrice,i, ProductQuantity)

        const cartProductQuantityElement = document.querySelector(`#cartProductQuantity${i}`)
        console.log(cartProductQuantityElement)
        alert(cartProductQuantityElement.value)

        const subtotalElement = document.querySelector(`#subTotal${i}`).textContent;
        alert(subtotalElement + "subtotalelel")

        const totalElements = document.getElementById('total').textContent;
        alert(totalElements)

        let currentQuantity = parseInt(cartProductQuantityElement.value)
        alert(currentQuantity)
        const currentSubTotal = parseInt(subtotalElement)
        alert(currentSubTotal + "currentsubTotal")
         
         const newQuantity = currentQuantity + count
         alert("newquantity" + newQuantity)

         if(count=== -1 && newQuantity < 1){ return; }

         if(count === 1 && newQuantity > ProductQuantity){

            Swal.fire({
                title: 'STOCK!',
                text: 'sorry, product is out of stock',
                icon: 'error',
                timer: 5000,
            })
            return
         }

         const newSubtotal = newQuantity * productPrice
         if(count === 1) {
            document.getElementById(`subTotal${i}`).textContent = currentSubTotal + productPrice;
         } else {
            alert('else')
            document.getElementById(`subTotal${i}`).textContent = currentSubTotal - productPrice;
         }

         $.ajax({
            url: '/changeQuantity',
            method: 'POST',
            data: {
                productId: productId,
                quantity: newQuantity,
                count: count
            },
            success: (response) => {
                alert('succes')

                document.getElementById(`cartProductQuantity${i}`).value = newQuantity;
                document.getElementById(`subTotal${i}`).textContent = newSubtotal;
             
                const newTotal = count === 1 ? parseInt(totalElement) + parseInt(response.totalAmount) 
                : parseInt(totalElement) - parseInt(response.totalAmount)  
                document.getElementById('total').textContent = newTotal;

                // let currentQuantity = parseInt(cartProductQuantityElement.value)

                // let currentSubTotal = parseInt(subtotalElement.value)

                // document.getElementById(`cartProductQuantity${i}`).value = currentQuantity + count

                // document.getElementById(`subTotal${i}`).value = currentSubTotal * count

                // if(response.count == 1 ) {
                //     console.log("Total element == >", totalElements)
                //     document.getElementById(`total`).innerHTML = parseInt(totalElements) + parseInt(response.totalAmount)
                // } else {
                //     document.getElementById(`total`).innerHTML = parseInt(totalElements) - parseInt(response.totalAmount)
                // }
            },
            error: (error) => {

                alert(error)
            }
         })
    }
</script> -->

<script>
    function changeQuantity(productId, cartQuantity, count, productPrice, i, productQuantity) {
        
        // alert(productPrice)
        // alert(cartQuantity)
        // alert(i)

        const abc = document.getElementById("totalabc").value
        console.log(abc, "hi");
        console.log(productId, cartQuantity, count, productPrice, i, productQuantity);
        const cartProductQuantityElement = document.querySelector(`#cartProductQuantity${i}`)
        // alert('quantity')
        // alert(cartProductQuantityElement.value,'quantity')
        const subtotalElement = document.querySelector(`#subTotal${i}`);
        // alert(subtotalElement.innerHTML,"subelm")
        const totalElements = document.getElementById('total').innerHTML;
        // alert(parseInt(subtotalElement.innerHTML)+ parseInt(productPrice))

        let currentQuantity = parseInt(cartProductQuantityElement.value)
        
        const currentSubTotal = parseInt(subtotalElement.innerHTML)
        // alert(currentSubTotal+"sub")

        // alert(currentTotal+"total")

        const newQuantity = currentQuantity + count
        // alert(newQuantity)

        if (count === -1 && newQuantity < 1) {
            return; 
        }

        // if(currentSubTotal < currentSubTotal){
        //     return
        // }

        if (count == 1 && newQuantity > productQuantity) {


            Swal.fire({
                title: 'STOCK!',
                text: 'Product is out of stock.',
                icon: 'error',
                timer: 5000
            })
            return
        }

        const newSubtotal = newQuantity * productPrice
        if (count == 1) {
            // alert('1')
            document.getElementById(`subTotal${i}`).innerHTML = parseInt(subtotalElement.innerHTML) + parseInt(productPrice)
        } else {
            // alert('else')
            document.getElementById(`subTotal${i}`).innerHTML = parseInt(subtotalElement.innerHTML) - parseInt(productPrice)
        }

        // alert('in starting '+newTotal)
        $.ajax({
            url: '/changeQuantity',
            method: 'POST',
            data: {
                productId: productId,
                quantity: newQuantity,
                count: count
            },

            success: (response) => {
                //   alert('sucess')
                // location.reload()


                let currentQuantity = parseInt(cartProductQuantityElement.value)
                 alert(currentQuantity,"currQua")
                let currentSubTotal = parseInt(subtotalElement.value)
                // alert(subtotalElement.value,"subttl")
                // alert(currentTotal,"ctotal")
                document.getElementById(`cartProductQuantity${i}`).value = currentQuantity + count
                console.log(currentQuantity, count , "currentquantituy and count")
                console.log(document.getElementById(`cartProductQuantity${i}`).value)

                document.getElementById(`subTotal${i}`).value = currentSubTotal * count
                // alert(parseInt(abc) + parseInt(response.totalAmount),"helloooooooooooooooooooo")
                if (response.count == 1) {
                    console.log("Total Element == >" , totalElements)
                    document.getElementById(`total`).innerHTML = parseInt(totalElements) + parseInt(response.totalAmount)
                } else {
                    document.getElementById(`total`).innerHTML = parseInt(totalElements) - parseInt(response.totalAmount)

                }


            },
            error: (error) => {
                // alert(error)    
            }
        })
    }

</script>

<%- include("../partials/footer") %>