<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/imgs/theme/Techspotlogo.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Techspot</title>

    <!--
            CSS
            ============================================= -->

            <style>
                body {
                   display: flex;
                   flex-direction: column;
                   min-height: 100vh;
                }
                main {
                   flex: 1;
                }
                .footer {
                   background-color: black;
                   border-radius: 20px 20px 0 0;
                   padding: 20px 0;
                   text-align: center;
                }
             </style>
    <link rel="stylesheet" href="/user-assets/css/linearicons.css">
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="/user-assets/css/nice-select.css">
    <link rel="stylesheet" href="/user-assets/css/nouislider.min.css">
    <link rel="stylesheet" href="/user-assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <!-- Start Header Area -->
    <header class="header-area header-style-5">  
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/user-assets/imgs/theme/Techspotlogo.png" alt="logo"></a>
                    </div>
                  
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>   
                                <li><a  href="/">Home </a>
                                </li>
                                <li><a href="/shop">Shop </i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count blue">2</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <% if (locals.user_id) { %>
                                    <!-- Displayed when the user is logged in -->
                                    <li class="dropdown nav-item">
                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                        <!-- Uncomment the following line if you want to use an icon -->
                                        <!-- <i class="fas fa-/user-circle"></i> -->
                                        <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/user-profile.svg" style="height: 25px; width: 25px; margin-top: 2px;">
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/user-profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                      </div>
                                    </li>
                                  <% } else { %>
                                    <!-- Displayed when the user is not logged in -->
                                    <div class="single-mobile-header-info ml-25 pr-5">
                                      <a href="/login">Sign Up</a>
                                    </div>
                                  <% } %>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
<main>
    <!-- Start Banner Area -->
    <section class="">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 class="text-center">CART</h1>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <% if (products.length>0) { %>
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Remove</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i=0; i < products.length; i++ ) { %>
                                    <tr>

                                        <td>
                                            <div class="media">
                                                <div style="height:50px; width: 50px;" class="d-flex">
                                                    <img src="/uploads/product-images/<%= products[i].productId.productImage[0] %>"
                                                        alt="">
                                                </div>
                                                <div class="media-body">
                                                    <p>
                                                        <%= products[i].productId.productName %>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>&#x20B9; <span class="productPrice"><%- products[i].productId.salePrice
                                                        %></span></h5>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                <input type="text" name="qty" id="sst" maxlength="12"
                                                    data-product-id="<%= products[i].productId._id %>"
                                                    value="<%- products[i].quantity %>" title="Quantity:"
                                                    class="input-text qty" readonly>

                                                <!-- Buttons to increase and decrease quantity -->
                                                <button class="increase items-count" type="button"
                                                    onclick="increaseQuantity(this)">
                                                    <i class="bi bi-caret-up"></i>
                                                </button>
                                                <button class="reduced items-count" type="button"
                                                    onclick="decreaseQuantity(this)">
                                                    <%= products[i].quantity == 1 ? 'disabled' : '' %>
                                                    <!-- Added "this" as a parameter to pass the button element -->
                                                    <i class="bi bi-caret-down"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <!-- Delete Icon -->
                                            <a href="" style="text-decoration: none; color: black;"
                                                class="removeProduct" data-productId="<%= products[i].productId._id %>">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <h5>&#x20B9; <span class="total-price"><%- products[i].total %></span></h5>
                                        </td>

                                    </tr>
                                    <% } %>
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>

                                            <td>
                                                <h5>Total</h5>
                                            </td>
                                            <td>
                                                <h5> &#x20B9; <span class="cartTotal"><%- cartTotal %></span>
                                                </h5>
                                            </td>

                                        </tr>
                                        <% }else{ %>
                                        <tr>

                                            <div class="col-md-12 d-flex justify-content-center">
                                                <div style="height: 250px; width: 300px;" class="text-center mb-5">
                                                   <img src="/user-assets/img/elements/empty-cart.png"
                                                      style="object-fit: cover; height: 100%; width: 100%;" alt="">
                                                    <p style="color: grey; font-size: 20px;">You haven't added anything yet.</p>
                                                </div>
                                             </div>
                                        </tr>

                                            <% } %>

                                                <tr class="out_button_area">
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        <div class="checkout_btn_inner d-flex justify-content-end">
                                                            <a class="gray_btn" href="/shop">Shop</a>
                                                           <br>
                                                            <a class="primary-btn" id="proceedBtn"
                                                                data-productsCount="<%- products.length %>"
                                                                href="/checkout">Proceed to Checkout</a>
                                                        </div>
                                                    </td>
                                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class= "footer footer-area pt-5 pb-5" style="background-color: black;  border-radius: 20px 20px 0 0;">
    <div class="container">
        <div class="row  d-flex justify-content-between">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Welcome to Techspot, your destination for sleek mobile devices that seamlessly 
                        fuse cutting-edge technology with style. We are committed to offering you premium 
                        smartphones and tablets that marry innovation, elegance, and performance.
                        
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Contact Us</h6>
                    <p>Have a question or need assistance? Don't hesitate to reach out. We're here to help.</p>
                    <div class="" id="mc_embed_signup">
                        <p style="margin-bottom: 0px; cursor: pointer;"><span>Email : info@techspot.com</span></p>
                        <p style="margin-top: 0px; cursor: pointer;"> <span >Phone : +49 116644553888/span></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Stay updated with our latest arrivals, promotions, and news by following us on social media.</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>Techspot | All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>

    <!-- Incrimenting the Quantity -->
    <script>
        // Function to calculate and update the cart total
        async function changeQuantity(productId, value, currentValue) {
            console.log("inside change quantity",productId);
            console.log(value);
            console.log(currentValue);


            const data = {
                proId: productId,
                count: value,
                currentValue: currentValue
            };

            const response = await fetch('/update-quantity', {
                method: 'post',
                headers: { 
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            if (result.status === 'error') {
                Swal.fire({
                    title: result.message,
                    icon: 'error',
                    showCancelButton: false,
                    timer: 1500
                })
                return { status: 'error' }
            }
            return { status: 'success' }
        }


        function updateCartTotal() {
            const productRows = document.querySelectorAll('tbody tr'); // Get all product rows
            let cartTotal = 0;

            // Loop through each product row and calculate the total
            productRows.forEach(function (row) {
                const quantityInput = row.querySelector('input[name="qty"]');
                const productPriceElement = row.querySelector('.productPrice');

                if (quantityInput && productPriceElement) {
                    const quantity = parseInt(quantityInput.value);
                    const productPrice = parseInt(productPriceElement.textContent.replace(/\D/g, '')); // Remove non-numeric characters

                    if (!isNaN(quantity) && !isNaN(productPrice)) {
                        cartTotal += quantity * productPrice;
                    }
                }
            });

            // Update the "cartTotal" element with the new total
            const cartTotalElement = document.querySelector('.cartTotal');
            if (cartTotalElement) {
                cartTotalElement.textContent = cartTotal.toLocaleString('en-IN'); // Format as currency
            }
        }

         // Function to update the quantity and total price
         function updateQuantity(inputField) {
            const container = inputField.closest('tr'); // Changed this line to get the closest table row
            const quantity = parseInt(inputField.value);
            const productPrice = parseInt(container.querySelector('.productPrice').textContent.replace(/\D/g, '')); // Remove non-numeric characters
            const totalPriceElement = container.querySelector('.total-price');

            if (!isNaN(quantity) && !isNaN(productPrice) && totalPriceElement) {
                const newTotal = quantity * productPrice;
                totalPriceElement.textContent = newTotal.toLocaleString('en-IN'); // Format as currency
            }
        }


        // Function to increase the quantity of a product
        async function increaseQuantity(inputField, productId, value) {
            const currentValue = parseInt(inputField.value);
            if (!isNaN(currentValue)) {
                const response = await changeQuantity(productId, value, currentValue + 1); // Changing the quantity in db
                if (response && response.status === 'success') {
                    inputField.value = currentValue + 1;
                    updateQuantity(inputField);
                    updateCart(); // Update the cart total when the quantity changes
                }
            }
            
        }

        // Function to decrease the quantity of a product
        async function decreaseQuantity(inputField, productId, value) {
            const currentValue = parseInt(inputField.value);
          
            if (!isNaN(currentValue) && currentValue > 1) {
                const response = await changeQuantity(productId, value, currentValue - 1);
                if (response && response.status === 'success') {
                    inputField.value = currentValue - 1;
                    updateQuantity(inputField);
                    updateCart(); // Update the cart total when the quantity changes
                }
            }
            if (currentValue >= 1) {
      input.value = currentValue;
    }

    // Disable the decrease button if quantity is 1
    if (currentValue <= 1) {
      button.disabled = true;
    }
        }

       

        // Function to update the cart after quantity changes
        function updateCart() {
            updateCartTotal(); // Update the cart total
        }

        // Get all the product count containers
        const productCountContainers = document.querySelectorAll('.product_count');

        // Loop through each container
        productCountContainers.forEach(function (container) {
            const inputField = container.querySelector('input[name="qty"]');
            const increaseButton = container.querySelector('.increase');
            const decreaseButton = container.querySelector('.reduced');
            const productId = inputField.dataset.productId;

            increaseButton.addEventListener('click', function () {
                increaseQuantity(inputField, productId, 1);
            });

            decreaseButton.addEventListener('click', function () {
                decreaseQuantity(inputField, productId, -1);
            });
        });

        // Update the cart total when the page loads
        window.addEventListener('load', function () {
            updateCartTotal();
        });
    </script>

    <!-- Proceed the order btn -->
    <script>
        // When the user click into the proceed button with out any product
        document.getElementById('proceedBtn').addEventListener('click', (event) => {
            event.preventDefault()

            const productCount = parseInt(event.currentTarget.getAttribute('data-productsCount'));
            // console.log(productCount)
            if (productCount === 0) {
                Swal.fire({
                    title: 'Cart is Empty',
                    icon: 'error',
                })
            } else {
                location.href = event.currentTarget.href;
            }
        })
    </script>

    <!-- Removing product -->
    <script>
        // Removing the product from cart
        const removeBtn = document.querySelectorAll('.removeProduct');
        removeBtn.forEach(btn => {
            btn.addEventListener('click', async (event) => {
                event.preventDefault();

                const productId = event.currentTarget.getAttribute('data-productId');
                // console.log(productId)
                if (productId) {
                    const response = await Swal.fire({
                        title: "Are you Sure ",
                        text: "To Remove Product from Cart",
                        icon: "question",
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#990f0f',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No !'
                    });

                    if (response.isConfirmed) {
                        const response = await fetch(`/remove-from-cart/?productId=${productId}`);
                        const result = await response.json();

                        if (result.status === 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Item Removed',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            setTimeout(() => {
                                location.href = location.href
                            }, 1500)
                        }
                        else if (result.status === 'sessionError') {
                            Swal.fire({
                                icon: 'info',
                                title: result.message,
                                showConfirmButton: false,
                                timer: 1000
                            })
                            setTimeout(() => {
                                location.href = '/login'
                            }, 1500);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Something went wrong',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                }

            })
        })
    </script>

</body>

</html>

<!-- Vendor JS-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<script src="/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/user-assets/js/plugins/slick.js"></script>
<script src="/user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/user-assets/js/plugins/wow.js"></script>
<script src="/user-assets/js/plugins/jquery-ui.js"></script>
<script src="/user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/user-assets/js/plugins/magnific-popup.js"></script>
<script src="/user-assets/js/plugins/select2.min.js"></script>
<script src="/user-assets/js/plugins/waypoints.js"></script>
<script src="/user-assets/js/plugins/counterup.js"></script>
<script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/user-assets/js/plugins/images-loaded.js"></script>
<script src="/user-assets/js/plugins/isotope.js"></script>
<script src="/user-assets/js/plugins/scrollup.js"></script>
<script src="/user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/user-assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
crossorigin="anonymous"></script>
<script src="/user-assets/js/main.js"></script>
<script src="/user-assets/js/jquery.ajaxchimp.min.js"></script> 
<script src="/user-assets/js/jquery.nice-select.min.js"></script>
   <script src="/user-assets/js/jquery.sticky.js"></script>
   <script src="/user-assets/js/nouislider.min.js"></script>
   <script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
   <script src="/user-assets/js/owl.carousel.min.js"></script>
   
<script src="/user-assets/js/main.js?v=3.4"></script>
<script src="/user-assets/js/shop.js?v=3.4"></script>


  <script src="/user-assets/js/main.js"></script>
  <script src="/js/editProfileValidation.js"></script>
  <script src="/js/changePasswordValidate.js"></script>
</body>

</html> 