<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/imgs/theme/willink-watches-logo (2).png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Techspot</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="/user-assets/css/linearicons.css">
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="/user-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user-assets/css/nice-select.css">
    <link rel="stylesheet" href="/user-assets/css/nouislider.min.css">
    <link rel="stylesheet" href="/user-assets/css/bootstrap.css">
    <link rel="stylesheet" href="/user-assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        /* Style for the card */
        .card {
            border: 1px solid #f3efef;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            margin-bottom: 20px;
            background-color: rgb(14, 13, 13);
        }

        /* Style for the radio button and label */
        .radion_btn {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .radion_btn input[type="radio"] {
            margin-right: 10px;
        }

        /* Style for the card text */
        .card-text {
            font-size: 14px;
            color: #ffffff;
        }

        /* Optional: Style for the card header (if needed) */
        .card-header {
            background-color: #f8f9fa;
            font-weight: bold;
            padding: 10px;
            border-bottom: 1px solid #e5e5e5;
        }

        .addAddress_form p {
            color: red;
        }

        /* Style the radio button */
        .radio_btn {
            appearance: none;
            /* Remove the default radio button appearance */
            width: 15px;
            /* Adjust the width of the radio button */
            height: 15px;
            /* Adjust the height of the radio button */
            border: 1px solid #09b01a;
            /* Border color */
            border-radius: 10%;
            /* Make it round */
            outline: none;
            /* Remove the outline when focused */
            cursor: pointer;
            /* Add a pointer cursor */
            vertical-align: middle;
            /* Center it vertically with the label */
            margin-right: 10px;
            /* Add some spacing between the radio button and label */
        }

        /* Style the radio button when checked */
        .radio_btn:checked {
            background-color: #09b01a;
            /* Background color when checked */
        }

        /* Style the radio button label */
        label {
            font-size: 14px;
            /* Label text size */
            color: #000000;
            /* Label text color */
            margin-bottom: 10px;
        }

        .custom-div {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #aeaeae;
            border-radius: 5px;
        }

        .btn-custom-success {
            background-color: #28a745;
            /* Your custom approved color */
            border-color: #28a745;
            color: #000000;
            /* Text color */
        }

        .btn-custom-success:hover {
            background-color: #218838;
            /* Hover color */
            border-color: #218838;
        }

        .dummy-data {
            color: #333;
            /* Set the color you want */
            font-size: 16px;
            /* Set the font size you want */
            /* Add any other styles you want for the dummy data */
        }

        .bg-light-green {
            background-color: #e0f3e0;
            /* You can adjust the color code to your desired shade of light green */
        }
    </style>
</head>

<body>

    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box"
                style="border-radius: 25px; background-color: #f1f0f0;">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/">
                        <div class="" style="height: 80px;">
                            <img src="/assets/imgs/theme/willink-watches-logo (2).png"
                                style="height: 80px; width: 100%; object-fit: cover;" alt="">
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav d-flex align-items-center  menu_nav ml-auto">
                            <li class="nav-item active"><a href="/" class="profile-icon nav-link"><span
                                        style="font-size: 22px; width: 30px; height: 30px; color: rgb(0, 0, 0);"
                                        class="bi bi-house"></span></a></li>
                            <li class="nav-item"><a href="/shop" class="profile-icon nav-link"><span
                                        style="font-size: 22px; width: 30px; height: 30px; color: black;"
                                        class="bi bi-shop"></span></a></li>
                            <li class="nav-item"><a href="/user-profile" class="profile-icon nav-link"><span
                                        style="font-size: 22px; width: 30px; height: 30px; color: black;"
                                        class="bi bi-person"></span></a></li>
                            <li class="nav-item"><a href="/cart" class="profile-icon nav-link"><span
                                        style="font-size: 20px; width: 30px; height: 30px; color: black;"
                                        class="bi bi-cart"></span>
                                    <span id="cartItemsCount"
                                        class="badge badge-danger position-absolute top-0 start-50 translate-middle"><%-
                                            cartItemsCount %></span>
                                </a></li>
                            <li class="nav-item"><a href="/wishlist" class="profile-icon nav-link"><span
                                        style="font-size: 20px; width: 30px; height: 30px; color: black; margin-right: 48px;"
                                        class="bi bi-heart"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 class="text-center">CHECKOUT</h1>
            <!-- Add this line -->
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <!-- modal -->

    <div class="" id="addCouponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <% if (coupons.length) { %>
                    <% for( let i=0; i < coupons.length; i++ ) { %>
                        <div class="modal-body">
                            <div class="card bg-light-green">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="couponCode<%- i %>" class="form-label"><%-
                                                coupons[i].couponDescription %></label>
                                        <div class="coupon-code" id="couponCode<%- i %>"><%- coupons[i].couponCode %>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary copy-button "
                                            data-clipboard-target="#couponCode<%- i %>">Copy</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% } %>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
                                <!-- You can add a "Save" button here if needed -->
                            </div>
                            <% }else{ %>
                                <div class="modal-body">
                                    <div class="card bg-light-green">
                                        <div class="card-body">
                                            <div class="mb-3">

                                                <div class="text-center">
                                                    <h2>No Coupons Found</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    <!-- You can add a "Save" button here if needed -->
                                </div>
                                <% } %>


            </div>
        </div>
    </div>
    
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <% if (address.length> 0) { %>
                        <div class="row">
                            <% for (let i=0; i < address.length; i++) { %>
                                <div class="col-md-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div>
                                                <% if(address[i].isDefault===true) { %>
                                                    <input class="radio_btn" type="radio" id="<%- address[i]._id %>"
                                                        name="address-option" value="<%- address[i]._id %>" checked>
                                                    <% } else { %>
                                                        <input class="radio_btn" type="radio" id="<%- address[i]._id %>"
                                                            name="address-option" value="<%- address[i]._id %>">
                                                        <% } %>
                                                            <label for="f-option5-1">Address <%- i+1 %></label>
                                                            <div class="check"></div>
                                            </div>
                                            <p class="card-text">Name : <%- address[i].name %></p>
                                            <p class="card-text">Mobile Number : <%- address[i].mobile %></p>
                                            <p class="card-text">Address : <%- address[i].homeAddress %></p>
                                            <p class="card-text">City : <%- address[i].city %></p>
                                            <p class="card-text">state : <%- address[i].state %></p>
                                            <p class="card-text">Postal Code : <%- address[i].postalCode %></p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <% } else { %>
                            <div class="row justify-content-center mb-5">
                                <h1 style="color : #ff0000">Address Needed</h1>
                            </div>
                            <% } %>
                </div>

            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Coupon div  -->
                        <div class="col-md-12 mb-3 custom-div shadow">
                            <label for="couponCode" class="form-label">Coupon Code</label>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="couponCode"
                                        placeholder="Enter your coupon code" aria-label="Coupon Code"
                                        aria-describedby="applyCouponBtn">
                                    <input type="text" id="couponId" hidden>
                                </div>
                                <button class="btn btn-primary" type="button" id="applyCouponBtn">Apply</button>
                            </div>
                            <p id="couponCodeError" style="color: #ff0000;"></p>

                            <div class="text-center mt-2">
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#addCouponModal">Add Coupon</button>
                            </div>
                        </div>

                        <h3>Add Address</h3>
                        <form class="row addAddress_form" id="addAddressForm" action="" method="post"
                            novalidate="novalidate">
                            <div class="col-md-6 form-group ">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                <p id="nameError"></p>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                                    placeholder="Phone number">
                                <p id="mobileError"></p>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="address" name="address"
                                    placeholder="Address">
                                <p id="addressError"></p>
                            </div>
                            <div class="col-md-12 form-group ">
                                <input type="text" class="form-control" id="city" name="city" placeholder="Town/City">
                                <p id="cityError"></p>
                            </div>
                            <div class="col-md-12 form-group ">
                                <input type="text" class="form-control" id="state" name="state" placeholder="state">
                                <p id="stateError"></p>
                            </div>

                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="pcode" name="pcode" placeholder="Postcode">
                                <p id="pcodeError"></p>
                            </div>
                            <div class="col-12 col-md-12 form-group justify-content-center d-flex">
                                <button type="submit" class="btn btn-primary">Add Address</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                <% if (cartDetails.length> 0) { %>
                                    <% for( let i=0; i < cartDetails.length; i++ ) { %>
                                        <li><a href="#"><%- cartDetails[i].productId.productName %><span
                                                        class="middle">x <%- cartDetails[i].quantity %></span> <span
                                                        class="last"> &#x20B9; <%- cartDetails[i].total %></span></a>
                                        </li>
                                        <% } %>
                                            <% } %>

                            </ul>

                            <ul class="list list_2">
                                <li><a href="#">Total <span id="total">
                                            &#x20B9;<%- grandTotal %> </span></a></li>
                                <li><a class="fw-bold" href="#">Discount <span id="discount">
                                            &#x20B9;0 </span></a></li>
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#" class="text-success">Grand Total <span class="text-success"
                                            id="cartTotal" data-cartTotal="<%- grandTotal %>">
                                            &#x20B9; <%- grandTotal %></span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="payment_radio">
                                    <input type="radio" id="COD" name="payment-method" checked>
                                    <label for="f-option5">Cash on Delivery</label>
                                    <div class="check"></div>
                                </div>
                                <p>If you take the cash on delivery, you only pay after it reached in your destination
                                </p>
                                <div class="payment_radio">
                                    <input type="radio" id="WALLET" name="payment-method">
                                    <label for="f-option5">Wallet</label>
                                    <div class="check"></div>
                                </div>
                                <p> You wallet amount is : &#x20B9; <span class="text-success"><%-
                                            userWallet.walletAmount %></span>
                                </p>
                                <div class="payment_radio">
                                    <input type="radio" id="RAZORPAY" name="payment-method">
                                    <label for="f-option5">Razorpay</label>
                                    <div class="check"></div>
                                </div>
                                <p> More easy to manage
                                </p>
                            </div>
                            <a class="primary-btn" id="placeOrder" data-addressCount="<%- address.length %>"
                                href="">Place order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
    <footer class="footer-area pt-5 pb-5" style="background-color: black;  border-radius: 20px 20px 0 0;">
        <div class="container">
            <div class="row  d-flex justify-content-between">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Welcome to Techspot, your destination for sleek mobile devices that seamlessly 
                            fuse cutting-edge technology with style. We are committed to offering you premium 
                            smartphones and tablets that marry innovation, elegance, and performance.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Contact Us</h6>
                        <p>Have a question or need assistance? Don't hesitate to reach out. We're here to help.</p>
                        <div class="" id="mc_embed_signup">
                            <p style="margin-bottom: 0px; cursor: pointer;"><span>Email : info@willinkwatches.com</span>
                            </p>
                            <p style="margin-top: 0px; cursor: pointer;"> <span>Phone : +91 987654321</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Stay updated with our latest arrivals, promotions, and news by following us on social media.
                        </p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Willink Watches | All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>

    <!-- Applying Coupon -->
    <script>
        document.getElementById('applyCouponBtn').addEventListener('click', async (event) => {
            event.preventDefault();

            const isValid = validateCouponField();

            if (isValid) {
                const couponCode = document.getElementById('couponCode').value;
                const totalAmount = '<%- grandTotal %>'
                console.log(totalAmount)
                // console.log(couponCode);

                const response = await fetch(`/apply-coupon/?couponCode=${couponCode}&totalAmount=${totalAmount}`);
                const result = await response.json();

                if (result.status === 'success') {
                    Swal.fire({
                        title: 'Coupon Applied',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });

                    document.getElementById('discount').innerHTML = '&#x20B9;' + result.discountValue
                    document.getElementById('cartTotal').innerHTML = '&#x20B9;' + result.actualValue
                    document.getElementById('couponId').value = result.couponId;
                } else {
                    Swal.fire({
                        title: 'Coupon Already Used',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            }


        })

        function validateCouponField() {
            let isValid = true;
            const couponFeild = document.getElementById('couponCode').value;
            alert(couponFeild+"couponcode")
            if (couponFeild.trim() === '') {
                document.getElementById('couponCodeError').textContent = 'Please Apply Coupon Code'
                document.getElementById('couponCode').style.borderColor = 'red'
                setTimeout(() => {
                    document.getElementById('couponCodeError').textContent = ''
                    document.getElementById('couponCode').style.borderColor = ''
                }, 3000)
                isValid = false;
            }
            return isValid;
        }
    </script>


    <!-- Copy Button Script -->
    <script>
        document.querySelectorAll('.copy-button').forEach(function (button) {
            button.addEventListener('click', function () {
                var target = document.querySelector(this.dataset.clipboardTarget);
                var range = document.createRange();
                var selection = window.getSelection();

                range.selectNode(target);
                selection.removeAllRanges();
                selection.addRange(range);

                document.execCommand('copy');
                selection.removeAllRanges();


            });
        });
    </script>

    <!-- Address form  -->
    <script>
        document.getElementById('addAddressForm').addEventListener('submit', async (event) => {
            event.preventDefault()

            const isValid = addressValidate();

            if (isValid) {

                const formData = {
                    name: event.currentTarget.name.value,
                    mobile: event.currentTarget.mobileNumber.value,
                    homeAddress: event.currentTarget.address.value,
                    city: event.currentTarget.city.value,
                    state: event.currentTarget.state.value,
                    postalCode: event.currentTarget.pcode.value
                }

                const response = await fetch('/add-address', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })

                const result = await response.json();

                if (result.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Address Added',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(() => {
                        location.href = '/checkout'
                    }, 2000);
                } else if (result.status === 'sessionError') {
                    Swal.fire({
                        icon: 'info',
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1000
                    })
                    setTimeout(() => {
                        location.href = '/login'
                    }, 1500);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Something went wrong',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        })

    </script>


    <!-- Online Payment -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Full Razorpay Payment code -->
    <script>
        document.getElementById('placeOrder').addEventListener('click', async (event) => {
            event.preventDefault();
            // Taking address id 
            const radioButtons = document.getElementsByName('address-option');
            let selectedRadioButtonId = null;
            for (const radioButton of radioButtons) {
                if (radioButton.checked) {
                    selectedRadioButtonId = radioButton.id;
                    break;
                }
            }
            const total = Number('<%- grandTotal %> ')
            const actualAmount = parseFloat(document.getElementById('cartTotal').innerHTML.replace(/[^\d.]/g, ''))
            const walletAmount = Number("<%- userWallet.walletAmount %>")
            const paymentMethod = document.querySelector('input[name="payment-method"]:checked').id;
            console.log(paymentMethod)
            console.log(total)

            if (!selectedRadioButtonId) {
                Swal.fire({
                    icon: 'error',
                    title: 'Address Needed',
                })
            } else if (total === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'No Items'
                })
            } else if (paymentMethod === 'WALLET' && walletAmount < actualAmount) {
                Swal.fire({
                    icon: 'error',
                    title: 'Insufficient Balance in wallet'
                })
            } else {

                const couponDiscount = parseFloat(document.getElementById('discount').innerHTML.replace(/[^\d.]/g, ''));
                const couponId = document.getElementById('couponId').value;

                const data = {
                    totalAmount: total,
                    paymentMethod: paymentMethod,
                    couponDiscount: couponDiscount,
                    actualAmount: actualAmount,
                    addressId: selectedRadioButtonId,
                    couponId: couponId
                }

                const response = await fetch('/place-order', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })

                const result = await response.json()

                if (result.status === 'COD') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Placed',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(() => {
                        location.href = `/confirmation/?orderId=${result.placedOrderId}`
                    }, 1500);

                } else if (result.status === 'WALLET') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Placed',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(() => {
                        location.href = `/confirmation/?orderId=${result.placedOrderId}`
                    }, 1500);
                }
                // ===RAZORPAY===
                else if (result.status === 'RAZORPAY') {

                    razorpayPayment(result.response);

                } else if (result.status === 'sessionError') {
                    Swal.fire({
                        icon: 'info',
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1000
                    })
                    setTimeout(() => {
                        location.href = '/login'
                    }, 1500);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        })

        function razorpayPayment(order) {

            var options = {
                "key": "rzp_test_ueJVSvaD23rH3L", // Enter the Key ID generated from the Dashboard
                "amount": order.actualTotalAmout, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Techspot", //your business name
                "description": "Test Transaction",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {

                    verifyPayment(response, order)

                },
                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                    "name": "Gaurav Kumar", //your customer's name
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },

            };
            console.log(options);
            var razorpay = new Razorpay(options);
            razorpay.open();  //calling razorpay window
        }

        async function verifyPayment(payment, order) {
            const response = await fetch('/verify-payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ payment, order }),
            })

            const result = await response.json();

            if (result.status === 'paymentSuccess') {
                Swal.fire({
                    icon: 'success',
                    title: 'Payment Successfull',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(() => {
                    location.href = `/confirmation/?orderId=${result.placedOrderId}`
                }, 1500);
            } else if (result.status === 'paymentFailed') {
                Swal.fire({
                    icon: 'error',
                    title: 'Payment Failed',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(() => {
                    location.href = `/order-failed/?orderId=${result.placedOrderId}`
                }, 1500);
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Some thing went wrong',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        }


    </script>
 <script src="/user-assets/js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
     integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
     crossorigin="anonymous"></script>
 <script src="/user-assets/js/vendor/bootstrap.min.js"></script>
 <script src="/user-assets/js/jquery.ajaxchimp.min.js"></script>
 <script src="/user-assets/js/jquery.nice-select.min.js"></script>
 <script src="/user-assets/js/jquery.sticky.js"></script>
 <script src="/user-assets/js/nouislider.min.js"></script>
 <script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
 <script src="/user-assets/js/owl.carousel.min.js"></script>
 <!--gmaps Js-->
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
 <script src="/user-assets/js/gmaps.min.js"></script>
 <script src="/user-assets/js/main.js"></script>
 <script src="/js/addressValidate.js"></script>
</body>
</html>