<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/user-assets/imgs/theme/Techspotlogo.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Techspot</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/user-assets/css/linearicons.css">
	<link rel="stylesheet" href="/user-assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/user-assets/css/themify-icons.css">
	<link rel="stylesheet" href="/user-assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/user-assets/css/nice-select.css">
	<link rel="stylesheet" href="/user-assets/css/nouislider.min.css">
	<link rel="stylesheet" href="/user-assets/css/bootstrap.css">
	<link rel="stylesheet" href="/user-assets/css/main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box" style="border-radius: 25px; background-color: #f1f0f0;">
				<div class="container">
					 <!-- Brand and toggle get grouped for better mobile display -->
					 <a class="navbar-brand logo_h" href="/home">
						<div class="" style="height: 80px;">
							<img src="/user-assets/imgs/theme/Techspotlogo.png" style="height: 80px; width: 100%; object-fit: cover;" alt="">
						</div>
                </a>
					 <button class="navbar-toggler" type="button" data-toggle="collapse"
						  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						  aria-expanded="false" aria-label="Toggle navigation">
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
					 </button>
					 <!-- Collect the nav links, forms, and other content for toggling -->
					 <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav d-flex align-items-center  menu_nav ml-auto">
							<li class="nav-item active"><a href="/home" class="profile-icon nav-link"><span
								style="font-size: 22px; width: 30px; height: 30px; color: rgb(5, 4, 4);"
								class="bi bi-house"></span></a></li>
							<li class="nav-item"><a href="/show-all-products" class="profile-icon nav-link"><span
								style="font-size: 22px; width: 30px; height: 30px; color: black;"
								class="bi bi-shop"></span></a></li>
							<li class="nav-item"><a href="/user-profile" class="profile-icon nav-link"><span
										style="font-size: 22px; width: 30px; height: 30px; color: black;"
										class="bi bi-person"></span></a></li>
							<li class="nav-item"><a href="/cart" class="profile-icon nav-link"><span
										style="font-size: 20px; width: 30px; height: 30px; color: black;"
										class="bi bi-cart"></span>
										<span id="cartItemsCount"
                                        class="badge badge-danger position-absolute top-0 start-50 translate-middle"><%-
                                            cartItemsCount %></span>
									</a></li>
							<li class="nav-item"><a href="/whishlist" class="profile-icon nav-link"><span
										style="font-size: 20px; width: 30px; height: 30px; color: black; margin-right: 48px;"
										class="bi bi-heart"></span></a></li>
						</ul>
					 </div>
				</div>
		  </nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">

			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<h1 class="text-center">
				<i class="fas fa-check-circle text-success"></i> Order Placed
			</h1>
		</div>
	</section>

	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<div class="row order_d_inner">
				<div class="col-lg-6 col-12 mb-2">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order number</span>: <%- orderDetails.ord %></a></li>
							<li><a href="#"><span>Date</span> : <%- orderDetails.date.toDateString() %></a></li>
							<li><a href="#"><span>Total</span> : &#x20B9; <%- orderDetails.actualTotalAmount %></a></li>
							<li><a href="#"><span>Payment method</span> : <%- orderDetails.paymentMethod %></a></li>
							<li><a href="#"><span>Status</span> : <%- orderDetails.orderStatus %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Name</span> : <%- orderDetails.address.name %></a></li>
							<li><a href="#"><span>Mobile</span> : <%- orderDetails.address.mobile %></a></li>
							<li><a href="#"><span>Home Address</span> : <%- orderDetails.address.homeAddress %></a></li>
							<li><a href="#"><span>City </span> : <%- orderDetails.address.city %></a></li>
							<li><a href="#"><span>state </span> : <%- orderDetails.address.state %></a></li>
							<li><a href="#"><span>Postal Code </span> : <%- orderDetails.address.postalCode %></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							<% for( let i=0; i < orderDetails.products.length; i++ ) { %>
								<tr>
									<td>
										<p><%- orderDetails.products[i].productId.productName %></p>
									</td>
									<td>
										<h5>x <%- orderDetails.products[i].quantity %></h5>
									</td>
									<td>
										<p>&#x20B9; <%- orderDetails.products[i].total %></p>
									</td>
								</tr>
								<% } %>
								<tr>
									<td>
										<h4>Total</h4>
									</td>
									<td>
										<h5></h5>
									</td>
									<td>
										<p> &#x20B9; <%- orderDetails.totalAmount %></p>
									</td>
								</tr>
								<tr>
									<td>
										<h4>Discount</h4>
									</td>
									<td>
										<h5></h5>
									</td>
									<td>
										<p > &#x20B9; <%- orderDetails.couponDiscount %></p>
									</td>
								</tr>
									<tr>
										<td>
											<h4>Total</h4>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<p style="font-weight: bold; color: rgb(24, 90, 24);"> &#x20B9; <%- orderDetails.actualTotalAmount %></p>
										</td>
									</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="container mt-5">
				<div class="row mt-2 justify-content-center">
					<a href="/list-orders" class="btn btn-secondary col-md-12">Order Details</a>
					<a id="goToInvoice" href="/invoice/?orderId=<%- orderDetails._id %>" 
						class="btn btn-danger col-md-12 mt-3 bg-danger text-light">Download Invoice</a>
				</div>
			</div>
		</div>

	</section>
	<!--================End Order Details Area =================-->

	<!-- start footer Area -->
	<footer class="footer-area pt-5 pb-5" style="background-color: black;  border-radius: 20px 20px 0 0;">
		<div class="container">
			<div class="row  d-flex justify-content-between">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Welcome to Techspot, your destination for sleek mobile devices that seamlessly
                            fuse cutting-edge technology with style. We are committed to offering you premium
                            smartphones and tablets that marry innovation, elegance, and performance.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Contact Us</h6>
                        <p>Have a question or need assistance? Don't hesitate to reach out. We're here to help.</p>
                        <div class="" id="mc_embed_signup">
                            <p style="margin-bottom: 0px; cursor: pointer;"><span>Email : info@techspot.com</span></p>
                            <p style="margin-top: 0px; cursor: pointer;"> <span>Phone : +49 56789586785</span></p>
                        </div>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Stay updated with our latest arrivals, promotions, and news by following us on social media.</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> Techspot | All rights reserved
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->




	<script src="/user-assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="/user-assets/js/vendor/bootstrap.min.js"></script>
	<script src="/user-assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/user-assets/js/jquery.nice-select.min.js"></script>
	<script src="/user-assets/js/jquery.sticky.js"></script>
	<script src="/user-assets/js/nouislider.min.js"></script>
	<script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/user-assets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/user-assets/js/gmaps.min.js"></script>
	<script src="/user-assets/js/main.js"></script>
</body>

</html>