
<%- include("../partials/header") %>



<section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
            </div>
            <div class="carausel-6-columns" id="carausel-6-columns">
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-gaming.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">T-Shirt</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"> <img
                                src="user-assets/imgs/category/category-contentCreation.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Bags</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-entertainment.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Sandan</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-everydayUse.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Scarf Cap</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-officeUse.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Shoes</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-studies.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Pillowcase</a></h5> -->
                
                </div>
            </div>
        </div>
</section>
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row product-grid-3">
            <% for (let i=0; i <product.length; i++)  { %>
               <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img action wrap">
                        <div class="product-img product-img-zoom">
                            <img class = "default-img" src="/uploads/product-images/<%=product[i].productImage[0]%>" alt="">
                        </div> 
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                        <h2><%=product[i].brand%></h2>
                    </div>
                    <h2><%=product[i].productName%></h2>
                    <div class="product-price">
                        <span>$<%= product[i].regularPrice %></span>
                    </div>
                  </div>
                  <div class="product-action-1 show">
                     <a aria-label="Add to cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>                  
                
                  </div>
               </div>
            <% } %>
        </div>
    </div>
</section>

<%- include("../partials/footer") %>

//cutted from above
