<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/user-assets/imgs/theme/Techspotlogo.png"">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Techspot</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/user-assets/css/linearicons.css">
	<link rel="stylesheet" href="/user-assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/user-assets/css/themify-icons.css">
	<link rel="stylesheet" href="/user-assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/user-assets/css/nice-select.css">
	<link rel="stylesheet" href="/user-assets/css/nouislider.min.css">
	<link rel="stylesheet" href="/user-assets/css/bootstrap.css">
	<link rel="stylesheet" href="/user-assets/css/main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<style>
		.btn-warning {
			background-color: #ff0000;
			color: #ffffff;
		}
        .container{
            padding-top: 10px;
        }
	</style>
</head>

<body>

	<!-- Start Header Area -->
	<header class="header-area header-style-5">  
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/user-assets/imgs/theme/Techspotlogo.png" alt="logo"></a>
                    </div>
                  
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>   
                                <li><a class="active" href="/">Home <!--<i class="fi-rs-angle-down"></i> --></a>
                                </li>
                                <li><a href="/shop">Shop </i></a>
                                </li>
                                <li><a href="/about">About</i></a>
                                </li>
                                <li><a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count blue">2</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <% if (locals.orderDetails) { %>
                                    <!-- Displayed when the user is logged in -->
                                    <li class="dropdown nav-item">
                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                        <!-- Uncomment the following line if you want to use an icon -->
                                        <!-- <i class="fas fa-/user-circle"></i> -->
                                        <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/user-profile.svg" style="height: 25px; width: 25px; margin-top: 2px;">
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/user-profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                      </div>
                                    </li>
                                  <% } else { %>
                                    <!-- Displayed when the user is not logged in -->
                                    <div class="single-mobile-header-info ml-25 pr-5">
                                      <a href="/login">Sign Up</a>
                                    </div>
                                  <% } %>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">

			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<h1 class="text-center">
				Order Details<br><br>
			</h1>
		</div>
	</section>

	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<div class="row order_d_inner">
				<div class="col-lg-6 col-12 mb-2">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order number</span>: <%- orderDetails.ord %></a></li>
							<li><a href="#"><span>Date</span> : <%- orderDetails.date.toDateString() %></a></li>
							<li><a href="#"><span>Total</span> : &#x20B9; <%- orderDetails.actualTotalAmount %></a></li>
							<li><a href="#"><span>Payment method</span> : <%- orderDetails.paymentMethod %></a></li>
							<li><a href="#"><span>Status</span> : <%- orderDetails.orderStatus %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Name</span> : <%- orderDetails.address.name %></a></li>
							<li><a href="#"><span>Mobile</span> : <%- orderDetails.address.mobile %></a></li>
							<li><a href="#"><span>Home Address</span> : <%- orderDetails.address.homeAddress %></a></li>
							<li><a href="#"><span>City </span> : <%- orderDetails.address.city %></a></li>
							<li><a href="#"><span>Street </span> : <%- orderDetails.address.street %></a></li>
							<li><a href="#"><span>Postal Code </span> : <%- orderDetails.address.postalCode %></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Status</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							<% for( let i=0; i < orderDetails.products.length; i++ ) { %>
								<tr>
									<td>
										<p><%- orderDetails.products[i].productId.productName %></p>
									</td>
									<td>
										<h5>x <%- orderDetails.products[i].quantity %></h5>
									</td>
									<td>
										<h5>
											<% if (orderDetails.products[i].productStatus==='Returned' ) { %>
												<span class="badge badge-pill badge-danger"><%-
														orderDetails.products[i].productStatus %></span>
												<% }else{ %>
													<span class="badge badge-pill badge-success"><%-
															orderDetails.products[i].productStatus %></span>
													<% } %>
										</h5>
									</td>
									<td>
										<p>&#x20B9; <%- orderDetails.products[i].total %></p>
									</td>
								</tr>
								<% } %>
									<tr>
										<td>
											<h4>Total</h4>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<p> &#x20B9; <%- orderDetails.totalAmount %></p>
										</td>
									</tr>
									<tr>
										<td>
											<h4>Discount</h4>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<p> &#x20B9; <%- orderDetails.couponDiscount %></p>
										</td>
									</tr>
									<tr>
										<td>
											<h4>Grand Total</h4>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<h5></h5>
										</td>
										<td>
											<p style="font-weight: bold; color: rgb(34, 74, 34);"> &#x20B9; <%-
													orderDetails.actualTotalAmount %></p>
										</td>
									</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Return reason modal -->
            <!-- class modal removed -->
			<div id="returnModal" class="">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h5 class="modal-title">Return Items</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal Body -->
						<div class="modal-body">
							<!-- Checkbox Section -->
							<div class="form-group">
								<label>Select the items</label><br>
								<% for( let i=0; i < orderDetails.products.length; i++ ) { %>
									<% if (orderDetails.products[i].productStatus==='Returned' ) { %>

										<% }else{ %>
											<div class="form-check">
												<input class="form-check-input returnItems" type="checkbox" id="checkbox<%- i %>"
													value="<%- orderDetails.products[i].productId._id %>">
												<label class="form-check-label" for="checkbox<%- i %>"><%-
														orderDetails.products[i].productId.productName %></label>
											</div>
											<% } %>

												<% } %>
													<p id="returnItemError" style="color: #bd1010;"></p>
							</div>

							<!-- Description Box -->
							<div class="form-group">
								<label for="returnReason">Reason:</label>
								<textarea class="form-control" id="returnReason" rows="4"></textarea>
								<p id="returnError" style="color: #bd1010;"></p>
							</div>
						</div>

						<!-- Modal Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<a href="" class="btn btn-primary" id="reasonSubmit">Submit Reason</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End modal structure -->

			<!-- Buttons of requested -->
			<div class="container mt-5">
				<div class="row justify-content-center">
					<% if (orderDetails.orderStatus==='Delivered' ) { %>
						<% if (orderDetails.returnOrderStatus.status==='requested' ) { %>
							<h1 style="color: #10bd30;">Item return requested</h1>
							<% }else{ %>
								<% if (orderDetails.deliveredDate) { 
									var deliveredDate=new Date(orderDetails.deliveredDate);
									 var sevenDaysAgo=new Date(); sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);
									  if (deliveredDate < sevenDaysAgo) { %>
										<h1 style="color: #bd1010;">Return Option Expired</h1>
									<% } else { %>
										<a href="" class="btn btn-info  col-md-5 mx-md-auto mx-0 mb-2 mb-md-0"
													data-toggle="modal" data-target="#returnModal">Return Items</a>
										<% } } %>
														<% } %>
															<% }else if (orderDetails.orderStatus==='Returned' ) {%>
																<h1 style="color: #10bd10;">Order Returned</h1>

																<% }else if (orderDetails.orderStatus==='Cancelled' ) {%>
																	<h1 style="color: #bd1010;">Item Cancelled</h1>

																	<% }else{ %>
																		<a href="" id="cancelButton"
																			data-orderId="<%- orderDetails._id %>"
																			class="btn btn-warning  col-md-5 mx-md-auto mx-0">Cancel
																			Order</a>
																		<% } %>
				</div>
				<div class="row mt-2 justify-content-center">
					<a href="/list-orders" class="btn btn-secondary col-md-6">Go back</a>
				</div>
			</div>
		</div>

	</section>
	<!--================End Order Details Area =================-->

	<!-- start footer Area -->
	<footer class="footer-area pt-5 pb-5" style="background-color: black;  border-radius: 20px 20px 0 0;">
		<div class="container">
			<div class="row  d-flex justify-content-between">
				<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Welcome to Techspot, your destination for sleek mobile devices that seamlessly
                            fuse cutting-edge technology with style. We are committed to offering you premium
                            smartphones and tablets that marry innovation, elegance, and performance.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Contact Us</h6>
                        <p>Have a question or need assistance? Don't hesitate to reach out. We're here to help.</p>
                        <div class="" id="mc_embed_signup">
                            <p style="margin-bottom: 0px; cursor: pointer;"><span>Email : info@techspot.com</span></p>
                            <p style="margin-top: 0px; cursor: pointer;"> <span>Phone : +49 56789586785</span></p>
                        </div>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Stay updated with our latest arrivals, promotions, and news by following us on social media.</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> Techspot| All rights reserved
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->


	<!-- Order Cancellation  -->
	<script>
		document.getElementById('cancelButton').addEventListener('click', async (event) => {
			event.preventDefault()

			const confirmation = await Swal.fire({
				title: 'Are you sure?',
				text: 'You will not be able to undo this action!',
				icon: 'warning',
				showCancelButton: true,
				cancelButtonColor: '#3085d6',
				confirmButtonColor: '#990f0f',
				confirmButtonText: 'Yes, cancel it!',
				cancelButtonText: 'No, keep it'
			})

			if (confirmation.isConfirmed) {
				const orderId = event.target.getAttribute('data-orderId')

				const response = await fetch(`/cancel-order/?orderId=${orderId}`)
				const result = await response.json();
				if (result.status === 'success') {
					Swal.fire({
						icon: 'success',
						title: result.message,
						showConfirmButton: false,
						timer: 1000
					})
					setTimeout(() => {
						location.href = location.href
					}, 1500)
				} else {
					Swal.fire({
						icon: 'error',
						title: result.message,
						showConfirmButton: false,
						timer: 1500
					})
				}
			}

		})
	</script>

	<!-- Return reason  -->
	<script>
		document.getElementById('reasonSubmit').addEventListener('click', async (event) => {
			event.preventDefault();

			var checkboxes = document.querySelectorAll('.returnItems');
			var selectedItems = [];

			checkboxes.forEach((checkbox) => {
				if (checkbox.checked) {
					selectedItems.push(checkbox.value);
				}
			});
			console.log(selectedItems);

			const isValid = validateReason(selectedItems);

			if (isValid) {
				const reason = document.getElementById('returnReason').value;
				const orderId = "<%-orderDetails._id %>"

				const data = {
					reason: reason,
					orderId: orderId,
					selectedItems: selectedItems
				}

				const response = await fetch('/return-order', {
					method: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				})

				const result = await response.json();

				if (result.status === 'success') {
					Swal.fire({
						icon: 'success',
						title: result.message,
						showConfirmButton: false,
						timer: 1000
					})
					setTimeout(() => {
						location.href = location.href
					}, 1500)
				} else {
					Swal.fire({
						icon: 'error',
						title: result.message,
						showConfirmButton: false,
						timer: 1500
					})
				}
			}

		})

		// Contineous form validation 
		document.getElementById('returnReason').addEventListener('input', (event) => {
			let returnReason = event.currentTarget.value;

			const isValid = validateReason();

			// console.log(returnReason)
		})
		function validateReason(selectedItems) {
			const returnReason = document.getElementById('returnReason').value;

			let isValid = true;

			if (returnReason.trim() === '' || returnReason.length < 10) {
				document.getElementById('returnReason').style.borderColor = 'red';
				document.getElementById('returnReason').style.borderWidth = '2px';
				document.getElementById('returnError').textContent = 'Enter at least 50 letters';
				isValid = false;
			} else {
				document.getElementById('returnReason').style.borderColor = ''; // Reset border color
				document.getElementById('returnError').textContent = ''; // Reset error message
			}

			// Checking the feild is checked or not

			if (selectedItems.length === 0) {
				document.getElementById('returnItemError').textContent = 'Please select at least one item.';
				isValid = false;
			} else {
				document.getElementById('returnItemError').textContent = '';
			}

			return isValid;
		}
	</script>


	<!-- Vendor JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugin JS -->
<script src="/user-assets/js/plugins/slick.js"></script>
<script src="/user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/user-assets/js/plugins/wow.js"></script>
<script src="/user-assets/js/plugins/jquery-ui.js"></script>
<script src="/user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/user-assets/js/plugins/magnific-popup.js"></script>
<script src="/user-assets/js/plugins/select2.min.js"></script>
<script src="/user-assets/js/plugins/waypoints.js"></script>
<script src="/user-assets/js/plugins/counterup.js"></script>
<script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/user-assets/js/plugins/images-loaded.js"></script>
<script src="/user-assets/js/plugins/isotope.js"></script>
<script src="/user-assets/js/plugins/scrollup.js"></script>
<script src="/user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/user-assets/js/plugins/jquery.elevatezoom.js"></script>

<!-- Other JS -->
<script src="/user-assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/user-assets/js/jquery.nice-select.min.js"></script>
<script src="/user-assets/js/jquery.sticky.js"></script>
<script src="/user-assets/js/nouislider.min.js"></script>
<script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
<script src="/user-assets/js/owl.carousel.min.js"></script>

<!-- Main JS -->
<script src="/user-assets/js/main.js?v=3.4"></script>
<script src="/user-assets/js/shop.js?v=3.4"></script>

<!-- gmaps JS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="/user-assets/js/gmaps.min.js"></script>

</body>

</html>